# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheels/

# Virtual environment
.venv/

# Environment variables
.env

# Django
db.sqlite3
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
